@using Listrr.Data.Trakt
@model List<Listrr.Data.Trakt.TraktList>
@{
    ViewData["Title"] = "List";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="row">
    @if (Model.Count == 0)
    {
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                #FeelsBadMan You currently have exactly 0 lists. I am pretty sure you want to create a new <a class="btn btn-xs btn-primary" asp-action="MovieList" role="button">movie list</a> or a new <a class="btn btn-xs btn-primary" asp-action="ShowList" role="button">show list</a>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Last processed</b></td>
                    <td><b>Type</b></td>
                    <td><b>Items</b></td>
                    <td><b>Action</b></td>
                </tr>
                </thead>
                @foreach (var list in Model)
                {
                    <tr>
                        <td>@list.Name</td>
                        <td>@list.LastProcessed</td>
                        <td>@list.Type</td>
                        <td>@list.Items</td>
                        <td>
                            <a href="https://trakt.tv/users/@list.Owner.UserName.ToLower()/lists/@list.Slug" target="_blank" class="btn btn-default btn-xs">Show</a>
                            @switch (list.Type)
                            {
                                case ListType.Movie:
                                    <a asp-action="EditMovieList" asp-route-Id="@list.Id" class="btn btn-primary btn-xs">Edit</a>

                                    break;
                                case ListType.Show:
                                    <a asp-action="EditShowList" asp-route-Id="@list.Id" class="btn btn-primary btn-xs">Edit</a>

                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                            <a asp-action="Delete" asp-route-Id="@list.Id" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
