@model CreateMovieListViewModel
@{
    ViewData["Title"] = "Movie list";
}

<div class="page-header">
    <h1>@ViewData["Title"] <small>@ViewData["Message"]</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="MovieList" method="post">

            <div class="panel panel-default">
                <div class="panel-heading">Basic filters</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control"/>
                                <small class="form-text text-muted">* Give your list a name that matches your filters to find it easier after creating.</small>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Query" class="form-control"/>
                                <small class="form-text text-muted">Search titles and descriptions.</small>
                                <span asp-validation-for="Query" class="text-danger"></span>
                            </div>
                            <div class="checkbox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByAlias"/> @Html.DisplayNameFor(m => m.SearchByAlias)
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByBiography"/> @Html.DisplayNameFor(m => m.SearchByBiography)
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByDescription"/> @Html.DisplayNameFor(m => m.SearchByDescription)
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByName"/> @Html.DisplayNameFor(m => m.SearchByName)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByOverview"/> @Html.DisplayNameFor(m => m.SearchByOverview)
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByPeople"/> @Html.DisplayNameFor(m => m.SearchByPeople)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByTitle"/> @Html.DisplayNameFor(m => m.SearchByTitle)
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input asp-for="SearchByTranslations"/> @Html.DisplayNameFor(m => m.SearchByTranslations)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select asp-for="Filter_Translations" asp-items="Model.Languages" class="form-control select2" multiple data-placeholder="Select a translation"></select>
                                <small class="form-text text-muted">Select the languages that a show has to have translatins for</small>
                                <span asp-validation-for="Filter_Translations" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="Filter_Genres" asp-items="Model.Genres" class="form-control select2" multiple data-placeholder="Select a genre"></select>
                                <small class="form-text text-muted">Select the genres a show should have</small>
                                <span asp-validation-for="Filter_Genres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Between</span>
                                    <input asp-for="Filter_Years.From" value="1910" class="form-control"/>
                                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                                    <input asp-for="Filter_Years.To" value="@DateTime.Now.Year" class="form-control"/>
                                </div>
                                <small class="form-text text-muted">Years filter e.g. <code>2000-2010</code></small>
                                <span asp-validation-for="Filter_Years.From" class="text-danger"></span>
                                <span asp-validation-for="Filter_Years.To" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Between</span>
                                    <input asp-for="Filter_Runtimes.From" value="30" class="form-control"/>
                                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                                    <input asp-for="Filter_Runtimes.To" value="250" class="form-control"/>
                                </div>
                                <small class="form-text text-muted">Runtime filter e.g. <code>30-200</code> for shows with a runtime min. 30 and max. 200 minutes</small>
                                <span asp-validation-for="Filter_Runtimes.From" class="text-danger"></span>
                                <span asp-validation-for="Filter_Runtimes.To" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Between</span>
                                    <input asp-for="Filter_Ratings.From" value="75" class="form-control" />
                                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                                    <input asp-for="Filter_Ratings.To" value="100" class="form-control" />
                                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">with at least</span>
                                    <input asp-for="Filter_Ratings.Votes" value="10" class="form-control" />
                                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">votes</span>
                                </div>
                                <small class="form-text text-muted">Ratings filter e.g. <code>75-100</code> for a rating between 75-100</small>
                                <span asp-validation-for="Filter_Ratings.From" class="text-danger"></span>
                                <span asp-validation-for="Filter_Ratings.To" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="Filter_Languages" asp-items="Model.Languages" class="form-control select2" multiple data-placeholder="Select a language"></select>
                                <small class="form-text text-muted">Languages filter e.g. <code>en,de</code> for shows that are available in english and german</small>
                                <span asp-validation-for="Filter_Languages" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="Filter_Countries" asp-items="Model.Countries" class="form-control select2" multiple data-placeholder="Select a country"></select>
                                <small class="form-text text-muted">Countries filter e.g. <code>us,de</code> for shows that are available in the US and germany</small>
                                <span asp-validation-for="Filter_Countries" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="Filter_Certifications" asp-items="Model.Certifications" class="form-control select2" multiple data-placeholder="Select a certification"></select>
                                <small class="form-text text-muted">Certifications filter e.g. <code>g,pg</code> for kids shows.</small>
                                <span asp-validation-for="Filter_Certifications" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Exclusion filters</div>
                <div class="panel-body">

                    @await Html.PartialAsync("_ReverseFiltersExplanationPartial")

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select asp-for="ReverseFilter_Translations" asp-items="Model.ReverseLanguages" class="form-control select2" multiple data-placeholder="Select a translation"></select>
                                <small class="form-text text-muted">Select the languages that you want to exclude</small>
                                <span asp-validation-for="ReverseFilter_Translations" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="ReverseFilter_Genres" asp-items="Model.ReverseGenres" class="form-control select2" multiple data-placeholder="Select a genre"></select>
                                <small class="form-text text-muted">Select the genres that you want to exclude</small>
                                <span asp-validation-for="ReverseFilter_Genres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select asp-for="ReverseFilter_Languages" asp-items="Model.ReverseLanguages" class="form-control select2" multiple data-placeholder="Select a language"></select>
                                <small class="form-text text-muted">Select the languages that you want to exclude</small>
                                <span asp-validation-for="ReverseFilter_Languages" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="ReverseFilter_Countries" asp-items="Model.ReverseCountries" class="form-control select2" multiple data-placeholder="Select a country"></select>
                                <small class="form-text text-muted">Select the countries that you want to exclude</small>
                                <span asp-validation-for="ReverseFilter_Countries" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="ReverseFilter_Certifications" asp-items="Model.ReverseCertifications" class="form-control select2" multiple data-placeholder="Select a certification"></select>
                                <small class="form-text text-muted">Select the certifications that you want to exclude</small>
                                <span asp-validation-for="ReverseFilter_Certifications" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>